.grid {
    width: 100%;
    height: 250px;
}

.grid2 {
    width: 100%;
    height: 150px;
}

#gauge {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

#map{
    opacity: 1.0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
fill: steelblue;
}

.area2 {
fill: #00CC66
}

